# Detekt configuration for Kotlin code quality
# https://detekt.dev/docs/introduction/configurations

build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    style: 1
    naming: 1

config:
  validation: true
  warningsAsErrors: false

processors:
  active: true
  exclude:
    - 'DetektProgressListener'

console-reports:
  active: true
  exclude:
    - 'ProjectStatisticsReport'
    - 'ComplexityReport'
    - 'NotificationReport'

output-reports:
  active: true
  exclude: []

complexity:
  active: true
  
  ComplexCondition:
    active: true
    threshold: 4
  
  ComplexMethod:
    active: true
    threshold: 15
    ignoreSingleWhenExpression: true
    ignoreSimpleWhenEntries: true
    ignoreNestingFunctions: false
    nestingFunctions:
      - 'also'
      - 'apply'
      - 'forEach'
      - 'let'
      - 'run'
      - 'with'
  
  CyclomaticComplexMethod:
    active: true
    threshold: 10
    ignoreSingleWhenExpression: true
    ignoreSimpleWhenEntries: true
    ignoreNestingFunctions: false
  
  LabeledExpression:
    active: true
    ignoredLabels: []
  
  LargeClass:
    active: true
    threshold: 600
  
  LongMethod:
    active: true
    threshold: 60
  
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 7
    ignoreDefaultParameters: true
    ignoreDataClasses: true
    ignoreAnnotatedParameter: []
  
  MethodOverloading:
    active: true
    threshold: 6
  
  NamedArguments:
    active: true
    threshold: 3
    ignoreArgumentsMatchingNames: false
  
  NestedBlockDepth:
    active: true
    threshold: 4
  
  NestedScopeFunctions:
    active: true
    threshold: 1
    functions:
      - 'also'
      - 'apply'
      - 'forEach'
      - 'let'
      - 'run'
      - 'with'
  
  ReplaceSafeCallChainWithRun:
    active: true
  
  StringLiteralDuplication:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    threshold: 3
    ignoreAnnotation: true
    excludeStringsWithLessThan5Characters: true
    ignoreStringsRegex: '$^'
  
  TooManyFunctions:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    thresholdInFiles: 15
    thresholdInClasses: 15
    thresholdInInterfaces: 15
    thresholdInObjects: 15
    thresholdInEnums: 15
    ignoreDeprecated: true
    ignorePrivate: false
    ignoreOverridden: false

coroutines:
  active: true
  
  GlobalCoroutineUsage:
    active: true
  
  InjectDispatcher:
    active: true
    dispatcherNames:
      - 'IO'
      - 'Default'
      - 'Unconfined'
  
  RedundantSuspendModifier:
    active: true
  
  SleepInsteadOfDelay:
    active: true
  
  SuspendFunWithCoroutineScopeReceiver:
    active: true
  
  SuspendFunWithFlowReturnType:
    active: true

empty-blocks:
  active: true
  
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: '_|(ignore|expected).*'
  
  EmptyClassBlock:
    active: true
  
  EmptyDefaultConstructor:
    active: true
  
  EmptyDoWhileBlock:
    active: true
  
  EmptyElseBlock:
    active: true
  
  EmptyFinallyBlock:
    active: true
  
  EmptyForBlock:
    active: true
  
  EmptyFunctionBlock:
    active: true
    ignoreOverridden: false
  
  EmptyIfBlock:
    active: true
  
  EmptyInitBlock:
    active: true
  
  EmptyKtFile:
    active: true
  
  EmptySecondaryConstructor:
    active: true
  
  EmptyTryBlock:
    active: true
  
  EmptyWhenBlock:
    active: true
  
  EmptyWhileBlock:
    active: true

exceptions:
  active: true
  
  ExceptionRaisedInUnexpectedLocation:
    active: true
    methodNames:
      - 'equals'
      - 'finalize'
      - 'hashCode'
      - 'toString'
  
  InstanceOfCheckForException:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
  
  NotImplementedDeclaration:
    active: true
  
  ObjectExtendsThrowable:
    active: true
  
  PrintStackTrace:
    active: true
  
  RethrowCaughtException:
    active: true
  
  ReturnFromFinally:
    active: true
    ignoreLabeled: false
  
  SwallowedException:
    active: true
    ignoredExceptionTypes:
      - 'InterruptedException'
      - 'MalformedURLException'
      - 'NumberFormatException'
      - 'ParseException'
    allowedExceptionNameRegex: '_|(ignore|expected).*'
  
  ThrowingExceptionFromFinally:
    active: true
  
  ThrowingExceptionsWithoutMessageOrCause:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    exceptions:
      - 'ArrayIndexOutOfBoundsException'
      - 'Exception'
      - 'IllegalArgumentException'
      - 'IllegalMonitorStateException'
      - 'IllegalStateException'
      - 'IndexOutOfBoundsException'
      - 'NullPointerException'
      - 'RuntimeException'
      - 'Throwable'
  
  ThrowingNewInstanceOfSameException:
    active: true
  
  TooGenericExceptionCaught:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    exceptionNames:
      - 'ArrayIndexOutOfBoundsException'
      - 'Error'
      - 'Exception'
      - 'IllegalMonitorStateException'
      - 'IndexOutOfBoundsException'
      - 'NullPointerException'
      - 'RuntimeException'
      - 'Throwable'
    allowedExceptionNameRegex: '_|(ignore|expected).*'
  
  TooGenericExceptionThrown:
    active: true
    exceptionNames:
      - 'Error'
      - 'Exception'
      - 'RuntimeException'
      - 'Throwable'

naming:
  active: true
  
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'
  
  ConstructorParameterNaming:
    active: true
    parameterPattern: '[a-z][A-Za-z0-9]*'
    privateParameterPattern: '[a-z][A-Za-z0-9]*'
    excludeClassPattern: '$^'
  
  EnumNaming:
    active: true
    enumEntryPattern: '[A-Z][_a-zA-Z0-9]*'
  
  FunctionNaming:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    functionPattern: '[a-z][a-zA-Z0-9]*'
    excludeClassPattern: '$^'
  
  FunctionParameterNaming:
    active: true
    parameterPattern: '[a-z][A-Za-z0-9]*'
    excludeClassPattern: '$^'
  
  MatchingDeclarationName:
    active: true
    mustBeFirst: true
  
  MemberNameEqualsClassName:
    active: true
    ignoreOverridden: true
  
  ObjectPropertyNaming:
    active: true
    constantPattern: '[A-Za-z][_A-Za-z0-9]*'
    propertyPattern: '[A-Za-z][_A-Za-z0-9]*'
    privatePropertyPattern: '_?[A-Za-z][_A-Za-z0-9]*'
  
  PackageNaming:
    active: true
    packagePattern: '[a-z]+(\.[a-z][A-Za-z0-9]*)*'
  
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][_A-Z0-9]*'
    propertyPattern: '[A-Za-z][_A-Za-z0-9]*'
    privatePropertyPattern: '_?[A-Za-z][_A-Za-z0-9]*'
  
  VariableNaming:
    active: true
    variablePattern: '[a-z][A-Za-z0-9]*'
    privateVariablePattern: '_?[a-z][A-Za-z0-9]*'
    excludeClassPattern: '$^'

performance:
  active: true
  
  ArrayPrimitive:
    active: true
  
  CouldBeSequence:
    active: true
    threshold: 3
  
  ForEachOnRange:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
  
  SpreadOperator:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
  
  UnnecessaryPartOfBinaryExpression:
    active: true
  
  UnnecessaryTemporaryInstantiation:
    active: true

potential-bugs:
  active: true
  
  AvoidReferentialEquality:
    active: true
    forbiddenTypePatterns:
      - 'kotlin.String'
  
  CastToNullableType:
    active: true
  
  Deprecation:
    active: true
  
  DontDowncastCollectionTypes:
    active: true
  
  DoubleMutabilityForCollection:
    active: true
    mutableTypes:
      - 'kotlin.collections.MutableList'
      - 'kotlin.collections.MutableMap'
      - 'kotlin.collections.MutableSet'
      - 'java.util.ArrayList'
      - 'java.util.LinkedHashSet'
      - 'java.util.HashSet'
      - 'java.util.LinkedHashMap'
      - 'java.util.HashMap'
  
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  
  EqualsWithHashCodeExist:
    active: true
  
  ExplicitGarbageCollectionCall:
    active: true
  
  HasPlatformType:
    active: true
  
  IgnoredReturnValue:
    active: true
    restrictToConfig: true
    returnValueAnnotations:
      - 'CheckResult'
      - '*.CheckResult'
      - 'CheckReturnValue'
      - '*.CheckReturnValue'
    ignoreReturnValueAnnotations:
      - 'CanIgnoreReturnValue'
      - '*.CanIgnoreReturnValue'
    returnValueTypes:
      - 'kotlin.sequences.Sequence'
      - 'kotlinx.coroutines.flow.*Flow'
      - 'java.util.stream.*Stream'
    ignoreFunctionCall: []
  
  ImplicitDefaultLocale:
    active: true
  
  ImplicitUnitReturnType:
    active: true
    allowExplicitReturnType: true
  
  InvalidRange:
    active: true
  
  IteratorHasNextCallsNextMethod:
    active: true
  
  IteratorNotThrowingNoSuchElementException:
    active: true
  
  LateinitUsage:
    active: false
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    ignoreOnClassesPattern: ''
  
  MapGetWithNotNullAssertionOperator:
    active: true
  
  MissingPackageDeclaration:
    active: true
    excludes: ['**/*.kts']
  
  NullCheckOnMutableProperty:
    active: true
  
  NullableToStringCall:
    active: true
  
  UnconditionalJumpStatementInLoop:
    active: true
  
  UnnecessaryNotNullCheck:
    active: true
  
  UnnecessaryNotNullOperator:
    active: true
  
  UnnecessarySafeCall:
    active: true
  
  UnreachableCatchBlock:
    active: true
  
  UnreachableCode:
    active: true
  
  UnsafeCallOnNullableType:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
  
  UnsafeCast:
    active: true
  
  UnusedUnaryOperator:
    active: true
  
  UselessPostfixExpression:
    active: true
  
  WrongEqualsTypeParameter:
    active: true

style:
  active: true
  
  CanBeNonNullable:
    active: true
  
  CascadingCallWrapping:
    active: true
    includeElvis: true
  
  ClassOrdering:
    active: true
  
  CollapsibleIfStatements:
    active: true
  
  DataClassContainsFunctions:
    active: true
    conversionFunctionPrefix:
      - 'to'
    allowOperators: true
  
  DataClassShouldBeImmutable:
    active: true
  
  DestructuringDeclarationWithTooManyEntries:
    active: true
    maxDestructuringEntries: 3
  
  EqualsNullCall:
    active: true
  
  EqualsOnSignatureLine:
    active: true
  
  ExplicitCollectionElementAccessMethod:
    active: true
  
  ExplicitItLambdaParameter:
    active: true
  
  ExpressionBodySyntax:
    active: true
    includeLineWrapping: false
  
  ForbiddenComment:
    active: false
  
  ForbiddenImport:
    active: false
  
  ForbiddenMethodCall:
    active: false
  
  ForbiddenVoid:
    active: true
    ignoreOverridden: false
    ignoreUsageInGenerics: false
  
  FunctionOnlyReturningConstant:
    active: true
    ignoreOverridableFunction: true
    ignoreActualFunction: true
    excludedFunctions: []
  
  LoopWithTooManyJumpStatements:
    active: true
    maxJumpCount: 1
  
  MagicNumber:
    active: true
    excludes: ['**/test/**', '**/androidTest/**', '**/*.Test.kt', '**/*.Spec.kt']
    ignoreNumbers:
      - '-1'
      - '0'
      - '1'
      - '2'
    ignoreHashCodeFunction: true
    ignorePropertyDeclaration: true
    ignoreLocalVariableDeclaration: true
    ignoreConstantDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
    ignoreAnnotation: true
    ignoreNamedArgument: true
    ignoreEnums: true
    ignoreRanges: true
    ignoreExtensionFunctions: true
  
  MandatoryBracesIfStatements:
    active: true
  
  MandatoryBracesLoops:
    active: true
  
  MaxLineLength:
    active: true
    maxLineLength: 120
    excludePackageStatements: true
    excludeImportStatements: true
    excludeCommentStatements: false
    excludeRawStrings: true
  
  MayBeConst:
    active: true
  
  ModifierOrder:
    active: true
  
  MultilineLambdaItParameter:
    active: true
  
  MultilineRawStringIndentation:
    active: true
    indentSize: 4
  
  NestedClassesVisibility:
    active: true
  
  NewLineAtEndOfFile:
    active: true
  
  NoTabs:
    active: true
  
  ObjectLiteralToLambda:
    active: true
  
  OptionalAbstractKeyword:
    active: true
  
  OptionalUnit:
    active: true
  
  OptionalWhenBraces:
    active: false
  
  PreferToOverPairSyntax:
    active: true
  
  ProtectedMemberInFinalClass:
    active: true
  
  RedundantExplicitType:
    active: true
  
  RedundantHigherOrderMapUsage:
    active: true
  
  RedundantVisibilityModifierRule:
    active: true
  
  ReturnCount:
    active: true
    max: 4
    excludedFunctions:
      - 'equals'
    excludeLabeled: false
    excludeReturnFromLambda: true
    excludeGuardClauses: true
  
  SafeCast:
    active: true
  
  SerialVersionUIDInSerializableClass:
    active: true
  
  SpacingBetweenPackageAndImports:
    active: true
  
  StringShouldBeRawString:
    active: true
    maxEscapedCharacterCount: 2
    ignoredCharacters: []
  
  ThrowsCount:
    active: true
    max: 2
    excludeGuardClauses: false
  
  TrailingWhitespace:
    active: true
  
  TrimMultilineRawString:
    active: true
  
  UnderscoresInNumericLiterals:
    active: true
    acceptableLength: 4
    allowNonStandardGrouping: false
  
  UnnecessaryAbstractClass:
    active: true
  
  UnnecessaryAnnotationUseSiteTarget:
    active: true
  
  UnnecessaryApply:
    active: true
  
  UnnecessaryBackticks:
    active: true
  
  UnnecessaryBracesAroundTrailingLambda:
    active: true
  
  UnnecessaryFilter:
    active: true
  
  UnnecessaryInheritance:
    active: true
  
  UnnecessaryInnerClass:
    active: true
  
  UnnecessaryLet:
    active: true
  
  UnnecessaryParentheses:
    active: true
    allowForUnclearPrecedence: false
  
  UntilInsteadOfRangeTo:
    active: true
  
  UnusedImports:
    active: true
  
  UnusedPrivateClass:
    active: true
  
  UnusedPrivateMember:
    active: true
    allowedNames: '(_|ignored|expected|serialVersionUID)'
  
  UnusedPrivateProperty:
    active: true
    allowedNames: '_|ignored|expected|serialVersionUID'
  
  UseArrayLiteralsInAnnotations:
    active: true
  
  UseCheckNotNull:
    active: true
  
  UseCheckOrError:
    active: true
  
  UseDataClass:
    active: true
    allowVars: false
  
  UseEmptyCounterpart:
    active: true
  
  UseIfEmptyOrIfBlank:
    active: true
  
  UseIfInsteadOfWhen:
    active: true
    ignoreWhenContainingVariableDeclaration: false
  
  UseIsNullOrEmpty:
    active: true
  
  UseOrEmpty:
    active: true
  
  UseRequire:
    active: true
  
  UseRequireNotNull:
    active: true
  
  UseSumOfInsteadOfFlatMapSize:
    active: true
  
  UselessCallOnNotNull:
    active: true
  
  UtilityClassWithPublicConstructor:
    active: true
  
  VarCouldBeVal:
    active: true
    ignoreLateinitVar: false
  
  WildcardImport:
    active: true
    excludeImports:
      - 'java.util.*'
